@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css);
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #333;
}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

button {
    color: #28a745;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
    margin: 3px;
}

#todos {
    list-style: none;
    padding: 0;
}

#todos div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
}

p {
    cursor: pointer;
    flex-grow: 1;
    text-align: left;
}

p.finish {
    text-decoration: line-through;
    color: gray;
}

#err {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.do{
    border-left: 4px solid #218838;
}